alembic
amqp
annotated-doc
annotated-types
anyio
billiard
bcrypt
black
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coverage
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
iniconfig
kombu
Mako
MarkupSafe
mypy_extensions
packaging
pathspec
platformdirs
pluggy
prompt_toolkit
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
passlib[bcrypt]
python-jose[cryptography]
Pygments
pytest
pytest-asyncio
pytest-cov
python-multipart
python-dateutil
python-dotenv
pytokens
PyYAML
redis
requests
ruff
six
sniffio
SQLAlchemy
starlette
stripe
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
vine
watchfiles
wcwidth
websockets
Werkzeug
email-validator
beautifulsoup4
pandas
beautifulsoup4
lxml
reportlab
langchain_openai
psycopg2-binary
youtube-transcript-api
langchain-openai
tiktoken
phonenumbers
openai
anthropic
faiss-cpu
google-genai
numpy
pypdf
PyJWT
openpyxl
matplotlib
tabulate
duckduckgo-search>=5.0.0
python-docx
